{% extends "base.html" %}

{% block conteudo %}
<h1>Editar Evento</h1>

<form method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" value="{{ evento.nome }}" required>

    <label>Data:</label>
    <input type="date" name="data" value="{{ evento.data }}" required>

    <label>Local:</label>
    <input type="text" name="local" value="{{ evento.local }}" required>

    <label>Descrição:</label>
    <textarea name="descricao">{{ evento.descricao }}</textarea>

    <button type="submit">Atualizar</button>
</form>
{% endblock %}
