{% extends "base.html" %}

{% block conteudo %}
<h1>Eventos</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Data</th>
        <th>Local</th>
        <th>Ações</th>
    </tr>

    {% for e in eventos %}
    <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.nome }}</td>
        <td>{{ e.data }}</td>
        <td>{{ e.local }}</td>
        <td>
            <a href="/editar/{{ e.id }}">Editar</a> |
            <a href="/excluir/{{ e.id }}" onclick="return confirm('Deseja excluir?')">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
